@import './nes.css';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body,
button,
input,
textarea,
select,
option,
label,
pre,
code,
kbd,
samp {
  font-family: 'Press Start 2P', 'Courier New', monospace;
}

body {
  font-size: 1rem;
}

button {
  font-family: 'Press Start 2P', 'Courier New', monospace;
}
